.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
}

img {
    height: 150px; 
    margin: 0px;
}

.header{
    text-align: center;
    background-color: rgb(86 166 0);
    display: block;
    margin: 0px;
    width: 100%;
    color: white;
    font-family: fantasy;
    font-style: italic;
    text-decoration: underline;
    border: solid 5px black;
    font-size: 20px;
    text-shadow: -2px 2px black;
}

form {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: solid 2px rgb(63, 63, 63);
    width: 430px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(207 237 174);
}

form div{
    color: rgb(0, 0, 0);
    width: 400px;
    display: flex;
}

form div p{
    width: 25%;
    margin: 5px;
    text-align: left;
    margin: 3px;
}

form button {
    margin: 15px;
}

form div input{
    width: 75%;
}

.img-button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #cecece;
}

.description {
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.like-btn {
    margin: 10px;
}

.img-title {
    margin: 0px;
    text-align: center;
}

.gallery-item {
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
    border-radius: 5px;
    background-color: #cecece;
}

.galleryList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.likes {
    margin: 5px;
}