img {
    height: 150px; 
    margin: 0px;
}

body {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.header{
    text-align: center;
}

.img-button {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.description {
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.like-btn {
    margin: 10px;
}

.img-title {
    margin: 0px;
    text-align: center;
}

.gallery-item {
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
}

.galleryList {
    display: inline-flex;
}

.likes {
    margin: 5px;
}