img {
    height: 150px; 
    margin: 0px;
}



.header{
    text-align: center;
    background-color: rgb(161, 210, 109);
    display: block;
}

form {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

form div{
    color: blue;
    width: 400px;
    display: flex;
}

form div p{
    width: 25%;
    margin: 5px;
    text-align: left;
}

form button {
    margin: 15px;
}

form div input{
    width: 75%;
}

.img-button {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.description {
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.like-btn {
    margin: 10px;
}

.img-title {
    margin: 0px;
    text-align: center;
}

.gallery-item {
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
}

.galleryList {
    display: flex;
    justify-content: center;
}

.likes {
    margin: 5px;
}